* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: rgba(95, 181, 227, 0.3);
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

header {
    background-color: #1172a6;
    padding: 1rem;
}

header h1 {
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

header nav ul li {
    padding: 1rem;
}

header nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 0.5rem;
}

header nav ul li a:hover {
    border-radius: 5px;
    background-color: #fff;
    color: #1172a6;
}

section.guia {
    text-align: center;
    margin-top: 1.8rem;
}

section h2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section p {
    padding: 0.5rem;
}

section nav ul {
    list-style-type: none;
    text-align: left;
}

section nav ul li {
    padding: 0.3rem;
}

.box {
    width: 50%; 
    margin: 0 auto; 
    padding: 1rem;
    background-color: #fff; 
    border: 2px solid #1172a6; 
    border-radius: 10px; 
}

.cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    margin: 1rem 1rem;
  }
  
  .cadastro label {
    margin-bottom: 5px;
  }
  
  .cadastro input,
  .cadastro button {
    padding: 8px;
    font-size: 16px;
  }
  
  .cadastro input[type="text"],
  .cadastro input[type="date"],
  .cadastro input[type="number"],
  .cadastro button {
    width: 100%;
  }
  
  .radio-group {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .cadastro button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cadastro button:hover {
    background-color: #0056b3;
  }
  
  .tabela {
    display: flex;
    flex-direction: column;
  }